@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-Italic-VariableFont_wght.ttf),
         url(../font/Montserrat-VariableFont_wght.ttf);

}

body{
    margin: 0px;
}
.sectionPageLogements{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.numeroSlide{
    top: -125px;
    color: white;
}

.CarouselImages{
    display: contents;
}

.fleche-gauche {
    position: absolute;
    top: 25%;
    left: 200px;
    color: white;
    font-size: 35px;
}

.fleche-droite {
    position: absolute;
    top: 25%;
    right: 200px;
    color: white;
    font-size: 35px;
}

.imageLogement {
    position: relative;
    height: 415px;
    width: 80%;
    border-radius: 15px;
    align-self: center;
}

h1, p{
    margin: 0;
    font-family: 'Montserrat';
}

.titreEtLocalisation{
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .titreLogement{
        color: #FF6060;
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
    }
}

.tags{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 10%;
}

.tag{
    height: 25px;
    background-color: #FF6060;
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
}

.DescriptionEtEquipements{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    width: 80%;
    align-self: center;
    gap: 20px;
}


.noteEtProprietaire{
    padding-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    img{
        height: 64px;
        width: 64px;
        border-radius: 50px;
    }
    p{
        max-width: 50%;
        color: #FF6060;
    }
}

.Proprietaire{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

.rate{
    display: flex;
    color: #FF6060
}

@media (max-width: 376px) {
    .dropdown{
        flex-direction: column;
            button{
            width: 100%;
            }
    }

   .noteEtProprietaire{
    padding-right: 0px; 
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
    position: relative;
   }

   .titreEtLocalisation{
    flex-direction: column;
   }

   .DescriptionEtEquipements{
    flex-direction: column;
   }

   .fleche-droite2{
    right: 60px;
    top: 25%;
   }

   .fleche-gauche2{
    left: 60px;
    top: 25%;

   }

   .numeroSlide{
    top: 0px;
    bottom: 0px;
   }
}
