.imgBanner{
    position: relative;
    clip-path: border-box;
    border-radius: 25px;
    opacity: 1;
    height: 223px;
    width: 100%;
    filter: brightness(50%);
  }

.titreBanner{
    position: absolute;
    color: white;
}

.sectionEntete{
    display: flex;
    padding: 25px;
    width: 80%;
    align-self: center;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }
  