
    .banner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        nav{
          display: flex;
          flex-direction: row;
          gap: 25px;
          padding: 10px;
        }
      }

    .Logo{
      height: 68px;
    }


@media (max-width: 376px) {
    .Logo{
      width: 30%;
      height: 46px;
    }
}