.LogoBlanc {
  filter: grayscale(100%) invert(100%) brightness(1000%);
  height: 38px;
}

footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  margin-top: 50px;
  padding: 50px;
  gap: 25px;
}
